node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.cache
.parcel-cache
.DS_Store
*.tsbuildinfo
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.test.local
coverage
.nyc_output
